#
# This is the configuration file for OpenMX Viewer
#
#
# Species: symbol, atomic radius, color, PAO, VPS
#
Species: E  0.200 #FFFFFF Kr10.0-s2p1d1     E
Species: H  0.410 #FAF0E6 H6.0-s2p1         H_PBE19
Species: He 0.410 #F0E68C He8.0-s2p1        He_PBE19
Species: Li 1.280 #EE82EE Li8.0-s3p2        Li_PBE19
Species: Be 0.960 #DB7093 Be7.0-s2p2        Be_PBE19
Species: B  0.840 #56256e B7.0-s2p2d1       B_PBE19
Species: C  0.760 #778899 C6.0-s2p2d1       C_PBE19
Species: N  0.710 #0033ff N6.0-s2p2d1       N_PBE19
Species: O  0.660 #ee0011 O6.0-s2p2d1       O_PBE19
Species: F  0.570 #7fff7f F6.0-s2p2d1       F_PBE19
Species: Ne 0.580 #FF00FF Ne9.0-s2p2d1      Ne_PBE19
Species: Na 1.660 #48D1CC Na9.0-s3p2d1      Na_PBE19
Species: Mg 1.410 #8B008B Mg9.0-s3p2d1      Mg_PBE19
Species: Al 1.210 #D8BFD8 Al7.0-s2p2d1      Al_PBE19
Species: Si 1.110 #00CED1 Si7.0-s2p2d1      Si_PBE19
Species: P  1.070 #BC043C P7.0-s2p2d1f1     P_PBE19
Species: S  1.050 #FFFF55 S7.0-s2p2d1f1     S_PBE19
Species: Cl 1.020 #66CDAA Cl7.0-s2p2d1f1    Cl_PBE19
Species: Ar 1.060 #FF69B4 Ar9.0-s2p2d1f1    Ar_PBE19
Species: K  2.030 #ADD8E6 K10.0-s3p2d1      K_PBE19
Species: Ca 1.760 #5c9291 Ca9.0-s3p2d1      Ca_PBE19
Species: Sc 1.700 #483D8B Sc9.0-s3p2d1      Sc_PBE19
Species: Ti 1.600 #8B708B Ti7.0-s3p2d1      Ti_PBE19
Species: V  1.530 #008080 V6.0-s3p2d1       V_PBE19
Species: Cr 1.390 #B22222 Cr6.0-s3p2d1      Cr_PBE19
Species: Mn 1.390 #a033a0 Mn6.0-s3p2d1      Mn_PBE19
Species: Fe 1.320 #BC8F8F Fe5.5H-s3p2d1     Fe_PBE19H
Species: Co 1.260 #50C878 Co6.0H-s3p2d1     Co_PBE19H
Species: Ni 1.240 #66CDAA Ni6.0H-s3p2d1     Ni_PBE19H
Species: Cu 1.320 #D2691E Cu6.0H-s3p2d1     Cu_PBE19H
Species: Zn 1.220 #BC8F8F Zn6.0H-s3p2d1     Zn_PBE19H
Species: Ga 1.220 #F08080 Ga7.0-s3p2d2      Ga_PBE19
Species: Ge 1.200 #E6E6FA Ge7.0-s3p2d2      Ge_PBE19
Species: As 1.190 #DAA520 As7.0-s3p2d2      As_PBE19
Species: Se 1.200 #e0ebaf Se7.0-s3p2d2      Se_PBE19
Species: Br 1.200 #b44c97 Br7.0-s3p2d2      Br_PBE19
Species: Kr 1.160 #00a497 Kr10.0-s3p2d2     Kr_PBE19
Species: Rb 2.200 #b77b57 Rb11.0-s3p2d2     Rb_PBE19
Species: Sr 1.950 #006e54 Sr10.0-s3p2d2     Sr_PBE19
Species: Y  1.900 #d69090 Y10.0-s3p2d2      Y_PBE19
Species: Zr 1.750 #634950 Zr7.0-s3p2d2      Zr_PBE19
Species: Nb 1.640 #44617b Nb7.0-s3p2d2      Nb_PBE19
Species: Mo 1.540 #E9967A Mo7.0-s3p2d2      Mo_PBE19
Species: Tc 1.470 #FF7F50 Tc7.0-s3p2d2      Tc_PBE19
Species: Ru 1.460 #FFA07A Ru7.0-s3p2d2      Ru_PBE19
Species: Rh 1.420 #A0522D Rh7.0-s3p2d2      Rh_PBE19
Species: Pd 1.390 #FFE4C4 Pd7.0-s3p2d2      Pd_PBE19
Species: Ag 1.450 #C0C0C0 Ag7.0-s3p2d2      Ag_PBE19
Species: Cd 1.420 #BDB76B Cd7.0-s3p2d2      Cd_PBE19
Species: In 1.420 #6B8E23 In7.0-s3p2d2      In_PBE19
Species: Sn 1.390 #556B2F Sn7.0-s3p2d2      Sn_PBE19
Species: Sb 1.390 #ADFF2F Sb7.0-s3p2d2      Sb_PBE19
Species: Te 1.380 #008000 Te7.0-s3p2d2f1    Te_PBE19
Species: I  1.390 #7a4171 I7.0-s3p2d2f1     I_PBE19
Species: Xe 1.400 #7FFFD4 Xe11.0-s3p2d2     Xe_PBE19
Species: Cs 2.440 #008080 Cs12.0-s3p2d2     Cs_PBE19
Species: Ba 2.150 #00aaaa Ba10.0-s3p2d2     Ba_PBE19
Species: La 2.070 #999900 La8.0-s3p2d2f1    La_PBE19
Species: Ce 2.040 #4682B4 Ce8.0-s3p2d2f1    Ce_PBE19
Species: Pr 2.030 #4169E1 Pr8.0-s3p2d2f1    Pr_PBE19
Species: Nd 2.010 #7B68EE Nd8.0-s3p2d2f1    Nd_PBE19
Species: Pm 1.990 #8A2BE2 Pm8.0-s3p2d2f1    Pm_PBE19
Species: Sm 1.980 #BA55D3 Sm8.0-s3p2d2f1    Sm_PBE19
Species: Eu 1.980 #800080 Eu8.0-s3p2d2f1    Eu_PBE19
Species: Gd 1.960 #FF1493 Gd8.0-s3p2d2f1    Gd_PBE19
Species: Tb 1.940 #c89932 Tb8.0-s3p2d2f1    Tb_PBE19
Species: Dy 1.920 #5c9291 Dy8.0-s3p2d2f1    Dy_PBE19
Species: Ho 1.920 #9d5b8b Ho8.0-s3p2d2f1    Ho_PBE19
Species: Er 1.890 #eeeaec Er8.0-s3p2d2f1    Er_PBE19
Species: Tm 1.900 #e29676 Tm8.0-s3p2d2f1    Tm_PBE19
Species: Yb 1.870 #5f6527 Yb8.0-s3p2d2f1    Yb_PBE19
Species: Lu 1.870 #c70067 Lu8.0-s3p2d2f1    Lu_PBE19
Species: Hf 1.750 #e9dacb Hf9.0-s3p2d2f1    Hf_PBE19
Species: Ta 1.700 #28ff93 Ta7.0-s3p2d2f1    Ta_PBE19
Species: W  1.620 #0582ff W7.0-s3p2d2f1     W_PBE19
Species: Re 1.510 #baff75 Re7.0-s3p2d2f1    Re_PBE19
Species: Os 1.440 #43676b Os7.0-s3p2d2f1    Os_PBE19
Species: Ir 1.410 #47585c Ir7.0-s3p2d2f1    Ir_PBE19
Species: Pt 1.360 #fde8d0 Pt7.0-s3p2d2f1    Pt_PBE19
Species: Au 1.360 #FFD700 Au7.0-s3p2d2f1    Au_PBE19
Species: Hg 1.320 #dcd6d9 Hg8.0-s3p2d2f1    Hg_PBE19
Species: Tl 1.450 #bf794e Tl8.0-s3p2d2f1    Tl_PBE19
Species: Pb 1.460 #f5b1aa Pb8.0-s3p2d2f1    Pb_PBE19
Species: Bi 1.480 #cd5e3c Bi8.0-s3p2d2f1    Bi_PBE19
Species: Po 1.400 #95859c undefined         undefined
Species: At 1.500 #71686c undefined         undefined
Species: Rn 1.500 #203744 undefined         undefined
Species: Fr 2.600 #ec6d71 undefined         undefined
Species: Ra 2.210 #b55233 undefined         undefined
Species: Ac 2.150 #a19361 undefined         undefined
Species: Th 2.060 #cc3399 undefined         undefined
Species: Pa 2.000 #3399cc undefined         undefined
Species: U  1.960 #339966 undefined         undefined
Species: Np 1.900 #ffff00 undefined         undefined
Species: Pu 1.870 #ccff33 undefined         undefined
Species: Am 1.800 #cc3300 undefined         undefined
Species: Cm 1.690 #cc6600 undefined         undefined
Species: Bk 1.600 #ff0033 undefined         undefined
Species: Cf 1.600 #660066 undefined         undefined
Species: Es 1.600 #006666 undefined         undefined
Species: Fm 1.600 #ffcc00 undefined         undefined
Species: Md 1.600 #33cccc undefined         undefined
Species: No 1.600 #99ffff undefined         undefined
Species: Lr 1.600 #ff6666 undefined         undefined

Atoms: rendering              # rendering|solid|translucent|off
Bonds: rendering1              # rendering|solid|translucent|off
Bond_Color: #a69abd           # color of bonds
BGC: #000000                  # back ground color
Atom_Size: 0.5                # a common scaling factor for the atom size
Bond_Thickness: 1.0           # thickness of bonds
Bond_Factor: 1.25              # a common scaling factor for bond formation
Cells: 1                      # 0=off, 1=on
Axes: 1                       # 0=off, 1=on
#Display: Canvas2D             # Canvas2D|WebGL

Color_Positive: #f04410             # color of positive isosurface
Color_Negative: #3333ff             # color of negative isosurface
